<div class="container mt-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Crear Cuenta</h2>
      </div>
    </div>
    <br/>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="formSignUp" (submit)="signUp()">
          <div class="form-group">
            <label for="firstName" style="font-weight: bold;">Nombre:</label>
            <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="Ejm: Alan" required (keydown.enter)="$event.preventDefault()">
          </div>
          <br/>
          <div class="form-group">
            <label for="lastName" style="font-weight: bold;">Apellido:</label>
            <input type="text" class="form-control" formControlName="lastName" id="firstName" placeholder="Ejm: Joe" required (keydown.enter)="$event.preventDefault()">
          </div>
          <br/>
          <div class="form-group">
            <label for="email" style="font-weight: bold;">Correo:</label>
            <input type="text" class="form-control" formControlName="email" id="email" placeholder="correo@ejemplo.com" required (keydown.enter)="$event.preventDefault()">
          </div>
          <br/>
          <div class="form-group">
            <label for="password" style="font-weight: bold;">Contraseña: </label>
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="*********" required (keydown.enter)="$event.preventDefault()">
          </div>
          <br/>
          <div class="form-group">
            <label for="confirmPassword" style="font-weight: bold;">Confirmar Contraseña: </label>
            <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" placeholder="*********" required (keydown.enter)="$event.preventDefault()">
          </div>
          <br/><br/>
          <div class="row">
            <div class="col-md-6">
                <button [routerLink]="['']" class="bg-secondary btn btn-primary w-100">Regresar</button>
            </div>
            <div class="col-md-6">
                <button type="submit" class="bg-success btn btn-primary w-100">Crear Cuenta</button>
            </div>
          </div>
          </form>
      </div>
    </div>
  </div>