<div class="container mt-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Añadir Corrales</h2>
      </div>
    </div>
    <br/>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="nombreCorral" style="font-weight: bold;">Nombre:</label>
            <input type="text" class="form-control" id="nombreCorral" placeholder="Ejm: Corral de Caballos">
          </div>
          <br/>
          <div class="form-group">
            <label for="capacidad" style="font-weight: bold;">Capacidad: </label>
            <input type="number" class="form-control" id="capacidad" placeholder="0">
          </div>
          <br/>
          <div class="form-group">
            <button type="submit" class="bg-success btn btn-primary w-100">Enviar</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  
