<div class="container mt-5">
  <!--Título-->
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Configuración de Animales y Corrales</h2>
    </div>
  </div>
  <br/>
  
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="formSettings" (submit)="save()">
        <!--Campo Corral-->
        <div class="form-group">
          <label for="corral" style="font-weight: bold;">Corral:</label>
          <select class="form-control" [formControl]="corralControl" id="corral" required>
            <option [ngValue]="null" disabled>--Seleccione--</option>
            <option *ngFor="let item of corrales" [value]="item._id">{{item?.name}}</option>
          </select>
        </div>
        <br/>
        <!--Campo Tipo-->
        <div class="form-group">
          <label for="tipoAnimal" style="font-weight: bold;">Tipo de Animal:</label>
          <select class="form-control" [formControl]="typeControl" id="tipoAnimal" (change)="loadCapacities()" required>
            <option [ngValue]="null" disabled>--Seleccione--</option>
            <option value="peligroso">Peligroso</option>
            <option value="noPeligroso">No Peligroso</option>
          </select>
        </div>
        <br/>

        <!-- Botones de agregar y eliminar -->
        <div class="row">
          <div class="col-md-12">
            <div class="input-group justify-content-end" *ngIf="typeControl.value">
              <button style="border-color: gray;" class="bg-secondary btn btn-primary" type="button" (click)="addAnimal()">+</button>
              <button style="border-color: gray;" class="bg-secondary btn btn-primary" type="button" (click)="removeAnimal()">-</button>
            </div>
          </div>
        </div>

        <!-- Combo boxes -->
        <div class="row">
          <label *ngIf="typeControl.value" for="corral" style="font-weight: bold;">Animal:</label>
          <div class="col-md-12">
            <div class="input-group" *ngFor="let capacity of capacities; let i = index">
              <select class="form-control" id="animals" [formControlName]="'animal' + i">
                <option [ngValue]="null" disabled>--Seleccione--</option>
                <option *ngFor="let animal of availableAnimals" [value]="animal?._id" [disabled]="shouldDisableOption(animal._id, i)">{{animal?.animal}}</option>
              </select>
            </div>
          </div>
        </div>
        <br/>
        
        <div class="row">
          <!--Botón de Regresar-->
          <div class="col-md-6">
            <button [routerLink]="['/farm']" class="bg-secondary btn btn-primary w-100">Regresar</button>
          </div>
          <!--Botón de Enviar-->
          <div class="col-md-6">
            <button type="submit" class="bg-success btn btn-primary w-100">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  