<div class="container mt-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Añadir Animales</h2>
      </div>
    </div>
    <br/>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="nombreAnimal" style="font-weight: bold;">Nombre:</label>
            <input type="text" class="form-control" id="nombreAnimal" placeholder="Ejm: caballo">
          </div>
          <br/>
          <div class="form-group">
            <label for="edadAnimal" style="font-weight: bold;">Edad: </label>
            <input type="number" class="form-control" id="edadAnimal" placeholder="0">
          </div>
          <br/>
          <div class="form-group">
            <label for="tipoAnimal" style="font-weight: bold;">Tipo de Animal</label>
            <select class="form-control" id="tipoAnimal">
              <option value="peligroso">Peligroso</option>
              <option value="noPeligroso">No Peligroso</option>
            </select>
          </div>
          <br/>
          <div class="form-group">
            <button type="submit" class="bg-success btn btn-primary w-100">Enviar</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
  