<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <img src="https://st2.depositphotos.com/5891300/8701/v/450/depositphotos_87019884-stock-illustration-farm-cartoon-educational-illustration.jpg" class="card-img-top img-fluid" alt="Corral" style="height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">Crear Corrales</h5>
                    <p class="card-text">En esta sección puedes crear un corral a tu gusto y a tu capacidad.</p>
                    <a href="/pens" class="bg-success btn btn-primary">Ir al sitio</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <img src="https://img.freepik.com/vector-premium/dibujos-animados-animales-granja-fondo-naturaleza_29190-1817.jpg" class="card-img-top img-fluid" alt="Animales" style="height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">Crear Animales</h5>
                    <p class="card-text">En esta sección puedes agregar los animales que forman parted de la granja.</p>
                    <a href="/animals" class="bg-success btn btn-primary">Ir al sitio</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <img src="https://www.pictoeduca.com/uploads/2019/05/portada-animales-granja.jpg" class="card-img-top img-fluid" alt="Corral-Animal" style="height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">Asignar Animales al Corral</h5>
                    <p class="card-text">En esta sección puedes configurar y administrar cada animal dentro de su respectivo corral</p>
                    <a href="/settings" class="bg-success btn btn-primary">Ir al sitio</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <img src="https://static.vecteezy.com/system/resources/previews/010/974/757/non_2x/cute-animals-in-ranch-farm-and-agriculture-illustrations-of-village-life-and-objects-design-for-banner-layout-annual-report-web-flyer-brochure-ad-free-vector.jpg" class="card-img-top img-fluid" alt="Vista Animales" style="height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">Sección de Animales</h5>
                    <p class="card-text">En esta sección se muestra los animales asignados en cada corral y su respectivo reporte.</p>
                    <a href="/view-animals" class="bg-success btn btn-primary">Ir al sitio</a>
                </div>
            </div>
        </div>
    </div>
</div>
  
